<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/ec.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/main.css" />
  <title>Ethereal Create - Login</title>
</head>
<body>
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
    <div class="login-form">
        <div class="login">
            <% if (errors) { %>
              <div style="color: red;">
                <ul>
                  <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                  <% }); %>
                </ul>
              </div>
            <% } %>
            <h2>Sign In</h2>
            <form action="/login" method="post">
              <div class="inputbox">
                  <input type="text" placeholder="Username" name="username" required>
              </div>
              <div class="inputbox">
                  <input type="password" placeholder="Password" name="password" required>
              </div>
              <div class="inputbox">
                  <input type="submit" value="Login" id="btn" required>
              </div>
            </form>
            <div class="bottom-content">
                
            </div>
        </div>
    </div>
    
</body>
</html>
