<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/ec.ico" type="image/x-icon"/>
  <title>User Registration</title>
  <!-- Add your CSS styles or link to a stylesheet here -->
</head>
<body>
  <h1>User Registration</h1>
  
  <% if (errors) { %>
    <div style="color: red;">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Register</button>
  </form>

  <p>Already have an account? <a href="/login">Login here</a>.</p>
</body>
</html>
