@font-face {
    font-family: ringm;
    src: url('/fonts/RINGM.ttf');
}

body {margin: 0;
    background-color: #000000;
  }

.header-container {
    width: 100%;
    height: 300px;
    background: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
}


body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 70px;
    text-shadow:
    3px 3px 0 #ffffff,
  -1px -1px 0 #ffffff,  
   1px -1px 0 #ffffff,
   -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    font-family: ringm;
    line-height: 90px;
}

.header-click {
    text-decoration: none;
}

.main-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
}

.ivy {
  position: absolute;
  height: 200px;
  max-height: 200px;
  width: 100%;
  background-image: url('/images/leaves.png');
  background-repeat: repeat;
  min-height: 200px;
  min-width: 250px;
  max-width: 969px;
  background-size: contain;
  background-position: center; /* Center the image*/
  z-index: 1;
  top: 240px;
}

.blog-preview-img {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
}

.pag-container {
    display: flex;
    justify-content: center;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    background-color: white;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #000000;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

.w3-container, .w3-panel {
    background-color: transparent;
    padding: 0;
    margin-top: -17px;
}

.title-area {
    padding: 16px;
    background-color: white;
}

canvas {
    position: absolute;
    top: 1px;
    z-index: -1;
    width: 100%;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}
.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}
.stars {
background:#000 url(/images/stars.png) repeat top center;
background-repeat: repeat;
height: 1300px;
z-index:-2;
}
.twinkling{
background:transparent url(/images/twinkling.png) repeat top center;
z-index:-1;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
height: 1300px;
}
.clouds{
  background:transparent url(/images/clouds2.png) repeat top center;
  z-index:-1;
-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
height: 1300px;
}

@media (max-width:600px) {
  .blog-preview-img {
    height: 400px;
  }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-form{
  width: 100%;
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: 55%;
}
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.25px);
  backdrop-filter: blur(15px);
  border: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5px);
  border-right: 1px solid rgba(255, 255, 255, 0.5px);
  border-radius: 20px;
  box-shadow: 0px 25px 50px rgba(0,0,0,0.1);
}
.login h2{
  width: 100%;
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #ffffff;
}
.login .inputbox input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-size: 1.25em;
  color: #383838;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
}
.login .inputbox input::placeholder{
  color: #423736;
  font-size: 17px;
}
#btn{
  position: relative;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
#btn:hover{
  background-color: #c7c7c7;
}
.bottom-content{
  display: flex;
  justify-content: space-between;
}
.bottom-content a{
  font-size: 1.25em;
  color: #423736;
  font-weight: 500;
  text-decoration: none;
}
